body{
    background-color: teal;
    height:100vh;
}
#form-container{
    height:200px;
    width:30%;
    margin:auto;
    border:2px solid red;
    text-align: center;
    margin-top: 100px;
    
}
h2{
    margin:0px 0px 10px 0px;
}

input{
    width:200px;
    margin: 10px;
    padding:6px;
}

input[type="submit"]{
    width:222px;
    background-color:rgb(194, 142, 241);
    color:white;
    border:0px;
}
.error{
    color:red;
    margin:0px;
    text-align: left;
}